:root {
    --card-height: 100px;
    --card-width: 200px;
    --card-bg-color: red;
    --card-text-color: black;
    --card-radius: 0px;
    --card-horizontal: 0px;
    --card-vertical: 0px;
    --card-spread: 3px;
    --card-blur: 6px;
}